{{ define "title" }}
   Update Password
{{ end }}

{{ define "main" }}
<form action="/account/update" method="POST" novalidate>
   <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
   <div>
      <label>Current Password:</label>
      {{with .Form.FieldErrors.currentPassword}}
         <label class="error">{{.}}</label>
      {{end}}
         <input type="password" name="currentPassword">
   </div>
   <div>
      <label>New Password:</label>
      {{with .Form.FieldErrors.newPassword}}
         <label class="error">{{.}}</label>
      {{end}}
         <input type="password" name="newPassword">
   </div>
   <div>
      <label>Type the New Password again:</label>
      {{with .Form.FieldErrors.newPasswordValidator}}
         <label class="error">{{.}}</label>
      {{end}}
         <input type="password" name="newPasswordValidator">
   </div>
   <div>
      <input type="submit" value="Change Password">
   </div>
</form>
{{ end }}