{{define "nav"}}
   <nav>
      <div>
         <a href='/'>Home</a>
         {{if .IsAuthenticated}}
         <a href='/snippet/create'>Create Snippet</a>
         {{end}}
      </div>
      <div>
         <a href="/users/login">Login</a>
         <a href="/users/signup">Sign up</a>
         {{if .IsAuthenticated}}
         <form action="/users/logout", method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <button>Logout</button>
         </form>
         {{end}}
      </div>
   </nav>
{{end}}
