{{define "nav"}}
   <nav>
      {{ if .IsAuthenticated}}
         
      {{ end }}
      <div>
         <a href='/'>Home</a>
         <a href='/snippet/create'>Create Snippet</a>
      </div>
      <div>
         <a href="/users/login">Login</a>
         <a href="/users/signup">Sign up</a>
         <form action="/users/logout", method="POST">
            <button>Logout</button>
         </form>
      </div>
   </nav>
{{end}}
